#background{
    background-color: aliceblue;
    padding: 10% 20%;
    position: relative;
}
    #delete, #save{
        position: absolute;
        bottom:  10px;
        background-color: #1899D6;
        border: solid transparent;
        border-radius: 16px;
        color: #FFFFFF;
        font-size: 15px;
        padding: 13px 16px;
        text-align: center;
    }

    #delete{    
        right: 20%;
    }
    #save{
        right: 35%;
    }

#profile{
    display: flex;
    min-height: 300px;
    background-color: wheat;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 55px, rgba(0, 0, 0, 0.25) 0px -20px 55px;
}
    #picture, #detail, #detail > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #picture{
        width: 40%;
        border-right: 2px solid aliceblue;
    }
    #detail{
        width: 60%;
        flex-direction: column;
    }
        #detail > div{
            height: 50%;
            width: 100%;
        }
        #username{
            border-bottom: 2px solid aliceblue;
        }